li {
    list-style-type: none;
}

li > div {
    float: left;
}

#playlist {
        position:absolute;
        opacity:0.7;
        background-color:#555555;
        color:white;
        font-size:25px;
        border-radius:5px 10px;
        width:72%;
        height:80%;
        left:14%;
        bottom :3%;
        padding-top:15px;
        padding-left:10px;
}

.list {
    opacity:0.9;
    background-color:#666;
    list-style-type:none;
    margin:0px 25px 5px 10px;
    border-radius:5px 10px;
    cursor:default;
    padding-left:10px;
}

.list:hover {
    background-color:#444 !important;
}

.playing {
    opacity:0.9;
    background-color:#6666c8;
    list-style-type:none;
    margin:0px 25px 5px 10px;
    border-radius:5px 10px;
    cursor:default;
    padding-left:10px;
}

.blur {
    height:4%;
    left:14%;
    width:72%;
    padding-left:10px;
    pointer-events:none;
    background-color:rgba(80,80,80,0.3);
}

#ltop {
    position:absolute;
    top:15%;
    border-radius:5px 10px 0 0;
}

#lbut {
    position:absolute;
    bottom:3%;
    border-radius:0 0 5px 10px;
}

#player_panel {
        position:absolute;
        opacity:0.8;
        background-color:#555555;
        border-radius:5px 10px;
        width:72%;
        height:80px;
        top:2%;
        left:14%;
        padding-top:15px;
        padding-left:10px;
}

#songInfo {
    position:absolute;
    left:5px;
    top:5px;
}

#songInfo > *{
    float:left;
    margin-right:15px;
}

#acover {
    background-image: url(http://i.imgur.com/qH8Pind.jpg);
    background-size: 100%;
    width:85px;
    height:85px;
    border-radius: 10px;
}

#infoDash {
    background-color:#333;
    height:85px;
    width:400px;
    border-radius:5px;
    color:#ddd;
    font-size:20px;
    padding-left:10px;
    padding-top:5px;
    margin: 0 15px 0 0;
}

#infoDash * {
    height:30px;
}

#artistName {
    top:42px;
}

#audio_dash {
    position:absolute;
    width:500px;
    right:0px;
}

#test_control > * {
    float:left;
    margin-right:15px;
}


#prevl {
       background-color:green;
       margin-right:0px;
       width: 3px;
       height:20px;
}

#prevr {
    width: 0; 
    height: 0; 
        margin-right:0px;
    border-width:10px 15px 10px 0px;
    border-style:solid;
    border-color:transparent green transparent transparent;
}

#prev:hover #prevl {
                            background-color:red;
                        }

#prev:hover #prevr {
                            border-color:transparent red transparent transparent;
                        }

#next:hover #nextl {
                        border-color:transparent transparent transparent red;
}

#next:hover #nextr {
                        background-color:red;
}

#nextl {
    width: 0; 
    height: 0; 
        margin-right:0px;
    border-width:10px 0px 10px 15px;
    border-style:solid;
    border-color:transparent transparent transparent green;
}

#nextr {
       background-color:green;
       margin-right:0px;
       width: 3px;
       height:20px;
}

#prev * ,
#next * {
    float:left;
}

.play {
	width: 0; 
	height: 0; 
	border-width:10px 0px 10px 20px;
	border-style:solid;
	border-color:transparent transparent transparent green;
}

.pause {
	width: 2px; 
	height: 20px; 
	border-width:0px 9px 0px 9px;
	border-style:solid;
	border-color:transparent green;
}

.play:hover {
	border-color:transparent transparent transparent red;
}

.pause:hover {
	border-color:transparent red;
}

#stop {
	width: 0; 
	height: 0; 
	border:10px solid green;
}

#stop:hover {
	border-color: red;
}

#time_bar {
    width:500px;
}

#time_bar *{
    float:left;
    margin-right:15px;
}

#dura {
    height:16px;
    width:330px;
}

input[type='range'] {
    -webkit-appearance:none;
    height:20px;
    background-color:#898;
    border-radius:10px;
    padding:10px 2px;
}

input[type='range']:focus {
    outline:none;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    position:relative;
    height:16px;
    width:16px;
    border-radius:50%;
    background-image:radial-gradient(circle, #eef, #334 90%,#556);
}

#time {
    right:0px;
    font-size:20px;
    color:white;
    cursor:default;
}

#vol {width:210px;}

#volbar_hold {
    background-color:#666;
    position:absolute;
    z-index:50;
    top:-5px;
    width:200px;
    height:30px;
    border-radius:10px;
}

#volbar {
    position:absolute;
    margin-top:5px;
    right:5px;
    height:20px;
    width:75%;
    z-index:51;
}

#icon-volume-rectangle {
    position:absolute;
    background-color:#000;
    bottom:10px;
    left:8px;
    height:10px;
    width:5px;
}
#icon-volume-triangle {
    position:absolute;
    bottom:5px;
    left:15px;
    width: 0; 
    height:  10px;
    border-width: 5px 10px 5px 0px;
    border-style:solid;
    border-color:transparent black transparent transparent ;
}

#icon-volume-line {
    background-color: #000;
    width: 3px;
    height: 20px;
    position: absolute;
    bottom:5px;
    left: 28px;
}

.option_btn {
    background-color:#686868;
    color:white;
    height:30px;
    width:40px;
    font-size:20px;
    font-weight:bolder;
    text-align:center;
    border-radius:10px;
    margin-top:-8px;
    padding-top:5px;
    box-shadow:5px 5px 5px #484848;
    cursor:default;
}

.option_btn:hover {
 box-shadow:inset 5px 5px 5px #484848;
}

#loop {
 margin-left:215px;
}

