
header.shared {
    position: relative;
    width: 100%;
    background-color: rgba(9,155,0,0.4);
    padding: 10px 0px;
    text-align: center;
}

nav.shared {
    background-color: rgba(9,155,0,0.5);
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
    padding: 5px;
     * { margin: 5px 10px; }
}

