#footer {
  margin: 5px;
  text-align: center;
  font-size: 20px; }

.linkGitHub * {
  vertical-align: middle;
  font-size: 20px; }

.linkGitHub img {
  height: 30px;
  width: 30px;
  -webkit-border-radius: 50%;
  border-radius: 50%; }
