header.shared {
  position: relative;
  height: 60px;
  width: 100%;
  background-color: rgba(9, 155, 0, 0.4);
  padding: 10px 0px;
  text-align: center; }

nav.shared {
  background-color: rgba(9, 155, 0, 0.5);
  font-size: 20px;
  text-align: center;
  margin-bottom: 10px;
  padding: 5px; }

nav.shared * {
  margin: 5px 10px; }
