
li.header {
    border-bottom: black 0.5px solid;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

li.header * {
    text-align: center !important;
    font-size: 25px !important;
    font-weight: 800;
}

.posts { font-size: 25px; }

.posts li { 
    position: relative; 
    height: 30px;
}

.posts li * { 
    display: inline-block; 
    position: absolute;
    vertical-align: middle;
    text-align: center;
}

.posts li .title{ 
    left: 5px;
    width: 60%; 
}

.posts li .date { 
    right: 5px;
    width: 40%;
    line-height: 30px;
    font-size: 15px; 
}
